<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471235435588-cb6kmi0qv4agij8vjg8vehj1n9nnaguc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471235435588-cb6kmi0qv4agij8vjg8vehj1n9nnaguc</string>
	<key>API_KEY</key>
	<string>AIzaSyA-gsJOHDaUOSNWNeG9MKKEZ3siTYXg3Dc</string>
	<key>GCM_SENDER_ID</key>
	<string>471235435588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.ihjas.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-7c2da</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-7c2da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471235435588:ios:6b0cfacb9c25260f2cb011</string>
</dict>
</plist>